body {
  background-color: rgb(111, 111, 111);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("TypeScriptBack.jpg");
}

p {
  margin: 5px;
  text-indent: 0px;
  text-align: justify;
  line-height: 120%;
  /*vagy pedig: height: 120%;*/
}

#content {
  margin-bottom: 20px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  width: 80%;
  padding: 30px;
  margin: 0px auto;
}

a {
  color: black;
}

#picture {
  float: right;
  height: 257px;
}

h1 {
  font-variant: small-caps;
  font-style: italic;
}

li {
  margin-left: 15px;
  list-style-type: square;
}

table {
  width: 80%;
  margin: auto;
}

span.kek{
  color: #087AC8;
  font-weight: bold;
}

ul li{
  list-style-type: square;
}

#keplet{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}